
<h1>Videojs Demo</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <app-video-player [videoOption]="videoOption"></app-video-player>
    </div>
    <div class="col-md-6">
      <app-vr-player [videoOption]="videoOption"></app-vr-player>
    </div>
    <div class="col-md-6">
      <app-ima-ads [videoOption]="videoOption"></app-ima-ads>
    </div>
    <div class="col-md-6">
      <!-- for implementing cuepoints in progress bar need to setup https://player.support.brightcove.com/ ads -->
      <app-ad-cue-points [videoOption]="videoOption"></app-ad-cue-points>
    </div>
  </div>
  
</div>

<router-outlet></router-outlet>
